@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-br from-purple-500 to-pink-500;
}

.bg-gradient-main {
  @apply bg-gradient-to-br from-purple-600 to-pink-600;
}